*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 100px;
}

.layout-grid{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto; /*centraliza o elemento*/
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*logotipo*/
header img{
    width: 130px;
}

/*NAV*/
.menu{
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}


/*BANNER*/
.banner{
    /*apenas para servir de referencial do botao*/
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid red;
}

.banner img{
    width: 100%;
}


/*botao Get started*/
.banner a{
    /*absolute tem como referencial o primeiro ancestral que tiver um position definido*/
    position: absolute;
    top: 55%;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    color: white;
    background-color: #444444;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: 600;
}